<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding fullscreen-grid">
    <ion-row class="ion-align-items-center full-height-row">
      
      <ion-col size-lg="7" class="ion-hide-lg-down image-side">
        <div class="overlay"></div>
        <div class="welcome-text">
          <h1>Tu sonrisa, <br><span>nuestra prioridad.</span></h1>
          <p>Gestiona tus citas de manera rápida y segura desde cualquier lugar.</p>
        </div>
      </ion-col>

      <ion-col size="12" size-lg="5" class="form-side">
        <div class="login-box">
          
          <div class="logo-wrapper-square">
            <img src="assets/logo-dientes.jpg" alt="Logo Consultorio" />
          </div>

          <div class="header-text">
            <h2>¡Hola de nuevo!</h2>
            <p>Ingresa tus credenciales para acceder</p>
          </div>
          
          <div class="form-container">
            <ion-item lines="none" class="floating-input">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input type="email" [(ngModel)]="txt_usu"></ion-input>
            </ion-item>

            <ion-item lines="none" class="floating-input">
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="txt_cla"></ion-input>
            </ion-item>

            <ion-button expand="block" class="btn-modern" (click)="login()">
              ENTRAR
            </ion-button>
          </div>
          
          <div class="footer-links">
            <a (click)="recuperar()">¿Olvidaste tu clave?</a>
            <div class="divider"></div>
            <p>¿No tienes cuenta? <span class="register-link" (click)="registro()">Regístrate aquí</span></p>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>